html, body {
    background-color: #dbdbdbeb;
    display: block;
    width: 100%;
    margin: 0;
}

.home_page{
    display: block;
}

.title_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.main_content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 16px;
}

.not_auth {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 16px;
}

.login_buttons {
    margin:calc(10px + 5vmin);
    align-items: center;
}

#requestaccessbutton {
    background-color: #19aad2;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: calc(10px + 1vmin);   
}

#requestaccessbutton:hover {
    background-color: #8fe4fc; 
  }