body {
    background-color: #282c34;
    display: block;
}

.home_page{
    display: block;
}

.title_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.main_content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 16px;
}

#loginbutton {
    background-color: #1976D2;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: calc(10px + 1vmin);   
}

#loginbutton:hover {
    background-color: #8fe4fc;
    
  }
